<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit Match Result</title>
</head>
<body>
<h1>試合情報編集</h1>
<a href="/edit_matches">試合一覧編集に戻る</a>
<hr>
<form th:action="'/match/edit/'+${match.id}" method="post">
<table>
	<tr>
		<th style="text-align: end;">節</th>
		<td>
			<select name="section">
				<option th:each="sec: ${#numbers.sequence(1,34)}" th:value="${sec}" th:text="'第' + ${sec} + '節'" th:selected="${sec == match.section}"></option>
			</select>
		</td>
	</tr>
	<tr>
		<th style="text-align: end;">日付</th>
		<td><input type="date" name="date" th:value="${match.date}"></td>
	</tr>
	<tr>
		<th style="text-align: end;">ホーム</th>
		<td>
			<select name="home">
				<option th:each="team: ${teams}" th:value="${team.abbr}" th:text="${team.abbr}" th:selected="${team.abbr == match.home}"></option>
			</select>
		</td>
	</tr>
	<tr>
		<th style="text-align: end;">得点</th>
		<td>
			<input style="width: 3em;" type="number" name="goals_for" min="0" th:value="${match.goalsFor}">
			-
			<input style="width: 3em;" type="number" name="goals_against" min="0" th:value="${match.goalsAgainst}">
		</td>
	</tr>
	<tr>
		<th style="text-align: end;">アウェイ</th>
		<td>
			<select name="away">
				<option th:each="team: ${teams}" th:value="${team.abbr}" th:text="${team.abbr}" th:selected="${team.abbr == match.away}"></option>
			</select>
		</td>
	</tr>
</table>
<input type="submit" value="確認">
</form>
</body>
</html>
